/* Reset and Common Styles */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Jost", sans-serif;
    font-weight: 400;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  .homepage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .section-heading {
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 15rem;
    border-bottom: 0.3rem solid #333;
    text-shadow: 0.2rem 0.2rem 0.5rem #555;
  }
  /* End of Reset and Common Styles */
  
  /* Section 1 */
  /*This section contains styles for front page with my picture*/
  .section-1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.3)
      ),
      url(Images/Jungfraujoch.jpeg) center no-repeat;
    background-size: cover;
    flex-direction: column;
  }
  
  .section-1-heading {
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    background-color: green;
    padding: 0 3rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-bottom: 0.3rem solid #fff;
    text-shadow: 0.2rem 0.2rem 1rem #555;
    transform: skew(-10deg);
  }
  
  .section-1-btn {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    border: 0.3rem solid #333;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
  /* End of Section 1 */


/*Nav menu*/

.display .container {
  display: block;
}

.taimee-menu {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}

.change .taimee-menu {
  right: 33rem;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.change .line {
  background-color: rgba(0, 0, 0, 0.8);
}

.change .line-1 {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}

.taimee-menu span {
  position: absolute;
  left: 5rem;
  width: 10rem;
  height: 4rem;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Baloo Da 2", serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .taimee-menu:hover span {
  opacity: 1;
  visibility: visible;
}

.taimee-menu span::before {
  content: "";
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid green;
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}

.sidebar {
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: #fff;
  transition: right 0.5s;
  z-index: 100;
}

.change .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
}

.menu-link {
  font-family: "Baloo Da 2", serif;
  font-size: 4rem;
  color: #555;
  position: relative;
}

.menu-link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: green;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-in-out;
}

.menu-link:hover::before {
  width: 100%;
}

.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media i {
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #777;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-media i:hover {
  background-color: green;
}

/*End Nav Menu*/

  /* Section 2 */
  .section-2 {
    width: 100%;
    height: 100vh;
    background-color: #222020;
    display: flex;
    align-items: center;
    padding: 0 10rem;
    position: relative;
  }
  
  .section-heading {
    font-size: 6rem;
    justify-content: center;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #ddd;
    margin-right: 4rem;
  }
  
  .section-2-paragraph {
    width: 100rem;
    height: 100vh;
    position: absolute;
    bottom: 1rem;
    right: 15rem;
    font-size: 2rem;
    line-height: 1.5;
    color: #ddd;
    border-top: 0.3rem double #aaa;
    border-bottom: 0.3rem double #aaa;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.7);
  }
  
  
  /* End of Section 2 */

/*Cards section*/

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem 20rem 5rem;
    color: gainsboro;
  }
  
  .cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 100%;
  }
  
  .card {
    width: 37rem;
    height: 45rem;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    position: relative;
  }
  
  .card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 0.5rem;
  }
  
  .card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 0.5rem;
    transition: opacity 0.3s;
  }
  
  .card:hover .card-img-wrapper img {
    opacity: 0.5;
  }
  
  .card-info {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  
  .card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
  }
  
  .card-info h2 {
    font-family: "Baloo Da 2", serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: #eee;
  }
  
  .card-info h3 {
    font-family: "Muli", serif;
    font-size: 2rem;
    font-weight: 500;
    color: lightblue;
    margin-bottom: 1rem;
  }
  
  .card-info p {
    font-family: "Baloo da 2", serif;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 300;
    color: #eee;
    width: 80%;
    margin-bottom: 2rem;
  }
  
  .card-info a {
    width: 10rem;
    height: 3rem;
    background-color: lightblue;
    border: none;
    font-family: "Baloo Da 2", serif;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: royalblue;
    border-radius: 0.3rem;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  }

  /*End Cards Section*/


@media (max-width: 1300px) {
  .cards-container {
    padding-bottom: 5rem;
  }

  .cards-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

  .card {
    margin-bottom: 8rem;
  }

  .contact-wrapper {
    width: 90%;
    height: 55rem;
  }

  .contact-heading {
    margin-bottom: 2rem;
  }

  .field {
    margin: 2rem 0;
  }
  .section-2 {
    width: 100vh;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem 20rem 5rem;
    display: flex;
  }
}