/* Reset and Common Styles */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Jost", sans-serif;
    font-weight: 400;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  .homepage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .section-heading {
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 15rem;
    border-bottom: 0.3rem solid #333;
    text-shadow: 0.2rem 0.2rem 0.5rem #555;
  }
  /* End of Reset and Common Styles */
  
  /* Section 1 */
  /*This section contains styles for front page with my picture*/
  .section-1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.3)
      ),
      url(Images/detroit.jpg) center no-repeat;
    background-size: cover;
    flex-direction: column;
  }
  
  .section-1-heading {
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    background-color: green;
    padding: 0 3rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-bottom: 0.3rem solid #fff;
    text-shadow: 0.2rem 0.2rem 1rem #555;
    transform: skew(-10deg);
  }
  
  .person-img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.7rem dotted green;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.5rem;
    opacity: 0.9;
  }
  
  .person-name {
    font-size: 2rem;
    color: #fff;
    background-color: green;
    margin: 5rem 0;
    padding: 0.5rem 3rem;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
  }
  
  .section-1-btn {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    border: 0.3rem solid #333;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
  /* End of Section 1 */

/* Section 2 */
/*This section contains styles for snippet drawings*/
.section-2 {
  width: 100%;
  height: 100%;
  padding: 15rem 0 10rem 0;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2-heading {
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 15rem;
  border-bottom: 0.3rem solid #333;
  text-shadow: 0.2rem 0.2rem 0.5rem #555;
}

.drawings {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.drawing {
  text-align: center;
}

.drawing:first-child,
.drawing:last-child {
  align-self: flex-start;
}

.drawing i {
  font-size: 10rem;
  color: #888;
  margin-bottom: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem #555;
}

.drawing h2 {
  font-size: 2rem;
  color: #fff;
  background-color: #777;
  width: 25rem;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
}
/* End of Section 2 */

/*table*/

table, td, th {
  border: 1px solid gray;
}

table {
  width: auto;
  text-transform: uppercase;
  text-align: center;
  
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

th {
  height: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.7rem;
  padding-left: 2px;
  padding-right: 2px;
} 

td {
  font-weight: 500;
  font-size: 1.7rem;
  padding-right: 6px;
  padding-left: 6px;
}

.section-3 {
  width: 100%;
  height: 100%;
  padding: 15rem 0 10rem 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.display .container {
  display: block;
}

.taimee-menu {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}

.change .taimee-menu {
  right: 33rem;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.change .line {
  background-color: rgba(0, 0, 0, 0.8);
}

.change .line-1 {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}

.taimee-menu span {
  position: absolute;
  left: 5rem;
  width: 10rem;
  height: 4rem;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Baloo Da 2", serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .taimee-menu:hover span {
  opacity: 1;
  visibility: visible;
}

.taimee-menu span::before {
  content: "";
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid green;
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}



.sidebar {
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: #fff;
  transition: right 0.5s;
  z-index: 100;
}

.change .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
}

.menu-link {
  font-family: "Baloo Da 2", serif;
  font-size: 4rem;
  color: #555;
  position: relative;
}

.menu-link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: green;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-in-out;
}

.menu-link:hover::before {
  width: 100%;
}

.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media i {
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #777;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-media i:hover {
  background-color: green;
}